#short_term_data {
    display: contents
}

#medium_term_data {
    display: none
}

#long_term_data {
    display: none
}

html {
    background-color: #191414;
}

body {
    font-family: 'Gill Sans', 'Trebuchet MS', sans-serif;
    color: #dddddd;
}

/*Table format start*/
.tracksTable {
    table-layout: auto;
    text-align: left;
    width: fit-content;
    color: #ffffff;
}

th,
td {
    border: 1px solid #191414;
    text-align: left;
    padding: 8px;
}

/*Table format end*/

.spotifyButton {

    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    transition-property: background-color, border-color, color, box-shadow, filter;
    transition-duration: .3s;
    border: 1px solid transparent;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 16px 14px 18px;
    color: #fff;
    background-color: #1ED760;
    height: 48px;
}

.spotifyButton:focus {
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    transition-property: background-color, border-color, color, box-shadow, filter;
    transition-duration: .3s;
    border: 1px solid transparent;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 16px 14px 18px;
    color: #fff;
    background-color: #15883e;
    height: 48px;
}

.hyperlink:link,
.hyperlink:visited {
    color: #1ED760;
    text-decoration: none;
}

.hyperlink:hover,
.hyperlink:active {
    color: #15883e;
    text-decoration: underline;
}

.spotifyLink {
    width: 20px;
    cursor: pointer;
}

.artistImage {
    max-width: 85%;
    height: auto;
    text-align: center;
    /*padding-bottom: 30%;*/
}

nav>ul {
    display: inline-block;
    list-style-type: none;
    padding: 2vh 3vw;
    margin: 0vh;
    float: right;
}

nav>ul>li {
    border: 1px solid transparent;
    border-radius: 1vh;
    padding: 1vh 1.2vw;
    margin: 0;
    display: inline-block
}