<html>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <head>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <title>{{ title }}</title>
  </head>
  <body>
    <!--header-->
    {% from "header.html" import header with context %}
    {{ header() }}
    <!--end header-->
    <!--body-->
    <center>
      <p style="font-size: 40px;">
        Privacy Policy
      </p>
      <p>
        By choosing to log in to Wrapped on Demand, you agree to the use of your Spotify username and listening data for your top artists and tracks.
      </p>
      <br>
      <p>
        Any data displayed by Wrapped on Demand is neither stored, collected, nor shared with any third parties anywhere. All data is solely used to display your listening statistics.
      </p>
      <br>
      <p>
        Rest assured that your data is NOT being stored or being used in any malicious manner.
      </p>
      <br>
      <p>
        If you choose to revoke permissions for Wrapped on Demand to access your data, you can visit your 
        <a class="hyperlink" href="http://www.spotify.com/account/apps/?_ga=2.57194153.2059435232.1677244602-1044990631.1616788427" target="_blank">Manage Apps</a> page and click
        "Remove Access" on Wrapped on Demand.
      </p>
    </center>
    <!--body-->
    <!--footer-->
    {% from "footer.html" import footer with context %}
    {{ footer() }}
    <!---end footer-->
  </body>
</html>
