<html>
  <head>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <title>{{ title }}</title>
  </head>
  <body>
    {% from "tableContainer.html" import tableContainer with context %}
    <script>
      var currentReceipt;
      function showContent(id) {
        for (
          let i = 0;
          i < document.querySelectorAll(".tableContainer").length;
          i++
        ) {
          document.querySelectorAll(".tableContainer")[i].style.display =
            "none";
        }
        document.getElementById(id).style.display = "inline-block";
        currentReceipt = id;
      }
    </script>
    <div>
      <center>
        <h1>Receiptify Clone by Joshua Casuga</h1>
        <h2>Generates Top Tracks</h2>
      </center>
    </div>
    <div style="width: 100%; height: auto">
      <center>
        <div>
          <button
            onclick="showContent('short_term_receipt')"
            class="generatePicButton"
          >
            Short Term Receipt
          </button>
          <button
            onclick="showContent('medium_term_receipt')"
            class="generatePicButton"
          >
            Medium Term Receipt
          </button>
          <button
            onclick="showContent('long_term_receipt')"
            class="generatePicButton"
          >
            Long Term Receipt
          </button>
        </div>
      </center>
    </div>
    <div style="width: 100%; height: auto">
      <center>
        {{ tableContainer(username, short_term['items'], 'short_term_receipt',
        'Last month') }} {{ tableContainer(username, medium_term['items'],
        'medium_term_receipt', 'Last six months') }} {{ tableContainer(username,
        long_term['items'], 'long_term_receipt', 'All time') }}
      </center>
    </div>
  </body>
</html>
