{% macro tableContainer(username, songs, id, time_period) -%}
<div class = "tableContainer" id ="{{ id }}">
  <p>{{ username }}</p>
  <p>{{ time_period }}</p>
  <p>{{ currentTime|strftime }}</p>

  <table>
    <tr>
      <th class="numColumn">#</th>
      <th>Song - Artist</th>
      <th class="lengthColumn">Length</th>
    </tr>
    {% for song in songs %}
    <tr>
      <td>{{ loop.index }}</td>
      <td>{{ song.name }} - {{ song.artists[0].name }}</td>
      <td>{{ song.duration_ms | mmss }}</td>
    </tr>
    {% endfor %}
  </table>
</div>

{% endmacro %}
