<html>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</html>
{% macro tracksContainer(username, songs, id, time_period) -%}
<div class = "tableContainer" id ="{{ id }}">
  <h3>Results for {{ username }}</h3>
  <h2>Top Tracks ({{ time_period }})</h2>
  
  <table class="tracksTable">
    {% for song in songs %}
    <tr>
      <td style="width:5%;">{{ loop.index }}</td>
      <td style="width:10%">
        <img src='{{ song.album.images[0].url }}' loading = "lazy" style="width: 75px">
      </td>
      <td style="font-weight: bold;">
        {{ song.name }}
      <td>
        {{ song.artists[0].name }}
      </td>
      <td style="width: 20px;">
        <a href="https://open.spotify.com/track/{{song.id}}" target="_blank" style="text-decoration: none;">
          <img class="spotifyLink" src="/static/spotify_icon.png">
        </a>
      </td>
      <td style="width:15%; padding-left: 5px;">
        {{ song.duration_ms | mmss }}</td>
    </tr>
    {% endfor %}
  </table>

  <p>Last updated on {{ currentTime|strftime }}</p>
</div>

{% endmacro %}

{% macro artistsContainer(username, artists, id, time_period) -%}
<div class = "tableContainer" id ="{{ id }}">
  <br>
  <h3>Results for {{ username }}</h3>
  <h2>Top Artists ({{ time_period }})</h2>
  
  <table style="color: #ffffff;">
    <tr>
    </tr>
    {% for artist in artists %}
      <td style="text-align: center;">
        <img src= '{{ artist.images[0].url }}' loading = "lazy" style="width: 300px;" class="artistImage">
        <p>{{ loop.index }}.{{ artist.name }}&ensp;
          <a href="https://open.spotify.com/artist/{{artist.id}}" target="_blank" style="text-decoration: none;">
            <img class="spotifyLink" src="/static/spotify_icon.png">
          </a>
        </p>
      </td>
      {% if loop.index is divisibleby(3) %}
      <tr>
      </tr>
      {% endif %} 
    {% endfor %}
  </table>

  <p>Last updated on {{ currentTime|strftime }}</p>
</div>

{% endmacro %}

